dist/
build/
coverage/
node_modules/
public/
docs/
examples/
.vitepress/
.env*
.DS_Store
.idea/
.github/
cypress/
package-lock.json
package.json
src/__tests__/
tsconfig*
vite.config.ts
vitest.config.ts