.vuefinder__action-message {
  @apply text-sm text-green-600 transition-opacity duration-500 ease-out;
}

.vuefinder__action-message--hidden {
  @apply opacity-0;
}

.vuefinder__action-message.vuefinder__settings-modal__message {
  @apply text-xs;
}
