.vuefinder__context-menu {
    @apply z-30 absolute text-xs
    bg-white dark:bg-gray-900
    text-gray-900 dark:text-gray-100
    border border-gray-200 dark:border-gray-700
    shadow-lg shadow-gray-200 dark:shadow-gray-900/50 rounded-md select-none
    origin-top-left min-w-[110px]
    transition-transform duration-150 ease-out
    animate-pop py-0.5;
}

.vuefinder__context-menu__item {
    @apply cursor-pointer transition-all duration-100 ease-out;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
}

.vuefinder__context-menu__item:hover:not(.vuefinder__context-menu__item--disabled) {
    @apply bg-gray-50 dark:bg-gray-800 text-blue-600 dark:text-blue-400;
}

.vuefinder__context-menu__item--disabled {
    @apply text-gray-400 dark:text-gray-600 cursor-not-allowed;
}

.vuefinder__context-menu__item--disabled:hover {
    @apply bg-transparent;
}

.vuefinder__context-menu__link {
    @apply px-2 mx-0.5 h-6 flex items-center overflow-hidden whitespace-nowrap text-ellipsis flex-1;
}

.vuefinder__context-menu__action {
    @apply px-2 mx-0.5 h-6 flex items-center overflow-hidden whitespace-nowrap text-ellipsis flex-1;
}
