.vuefinder__drag-item__container {
  @apply absolute -top-96 -z-50;
}

.vuefinder__drag-item__icon {
  @apply absolute z-10 m-auto h-6 w-6 fill-(--vf-bg-primary) stroke-(--vf-text-tertiary) md:h-12 md:w-12;
}

.vuefinder__drag-item__count {
  @apply absolute top-4 right-[-2rem] z-20 p-1 text-center text-xs text-(--vf-text-primary) md:top-5 md:right-[-2.4rem];
}
