
.vuefinder__item-icon {
  @apply text-(--vf-text-tertiary);
}

.vuefinder__item-icon--small {
  @apply h-5 w-5;
}

.vuefinder__item-icon--large {
  @apply h-10 w-10 md:h-12 md:w-12 m-auto;
}

.vuefinder .vuefinder__item-icon__extension {
  @apply absolute md:block top-1/2 left-0 w-full text-center text-(--vf-text-tertiary);
}

.vuefinder .vuefinder__item-icon__folder {
  @apply text-(--vf-text-tertiary) fill-(--vf-accent-primary) stroke-(--vf-accent-primary);
}

.vuefinder .vuefinder__item-icon__folder--open {
  @apply text-(--vf-text-tertiary) fill-(--vf-accent-primary) stroke-(--vf-accent-secondary);
}

.vuefinder .vuefinder__item-icon__file {
  @apply text-(--vf-text-tertiary) w-full h-full;
}
