
.vuefinder__item-icon--small {
  @apply h-5 w-5;
}

.vuefinder__item-icon--large {
  @apply h-10 w-10 md:h-12 md:w-12 m-auto;
}

.vuefinder .vuefinder__item-icon__extension {
  @apply absolute md:block top-1/2 left-0 w-full text-center text-neutral-500;
}

.vuefinder .vuefinder__item-icon__folder {
  @apply text-neutral-500 fill-sky-500 stroke-sky-500 dark:fill-slate-500 dark:stroke-slate-500;
}

.vuefinder .vuefinder__item-icon__file {
  @apply text-neutral-500 w-full h-full;
}
