.vuefinder__item {
  @apply relative;
}

.vuefinder__item--pinned {
  @apply absolute top-0 right-0 w-3 h-3 md:w-5 md:h-5 text-amber-600;
}

.vuefinder__item--readonly {
  @apply absolute top-0.5 right-0.5 w-4 h-4 md:w-4 md:h-4 z-[5];
}

.vuefinder__item--readonly--left {
  @apply absolute top-0.5 left-0.5 w-4 h-4 md:w-4 md:h-4 z-[5] text-(--vf-text-tertiary);
}

.vuefinder__item--readonly--list {
  @apply relative ml-1 items-center -top-[1px] w-3 h-3 text-(--vf-text-tertiary);
  margin-right: 4px;
}
