
.vuefinder__item-icon {
  color: var(--vf-text-tertiary);
}

.vuefinder__item-icon--small {
  @apply h-5 w-5;
}

.vuefinder__item-icon--large {
  @apply h-10 w-10 md:h-12 md:w-12 m-auto;
}

.vuefinder .vuefinder__item-icon__extension {
  @apply absolute md:block top-1/2 left-0 w-full text-center;
  color: var(--vf-text-tertiary);
}

.vuefinder .vuefinder__item-icon__folder {
  color: var(--vf-text-tertiary);
  fill: var(--vf-accent-primary);
  stroke: var(--vf-accent-primary);
}

.vuefinder .vuefinder__item-icon__folder--open {
  color: var(--vf-text-tertiary);
  fill: var(--vf-accent-primary);
  stroke: var(--vf-accent-secondary);
}

.vuefinder .vuefinder__item-icon__file {
  color: var(--vf-text-tertiary);
  @apply w-full h-full;
}
