.vuefinder__item {
  @apply relative;
}

.vuefinder__item--pinned {
  @apply absolute top-0 right-0 h-3 w-3 text-amber-600 md:h-5 md:w-5;
}

.vuefinder__item--readonly {
  @apply absolute top-0.5 right-0.5 z-[5] h-4 w-4 md:h-4 md:w-4;
}

.vuefinder__item--readonly--left {
  @apply absolute top-0.5 left-0.5 z-[5] h-4 w-4 text-(--vf-text-tertiary) md:h-4 md:w-4;
}

.vuefinder__item--readonly--list {
  @apply relative -top-[1px] ml-1 h-3 w-3 items-center text-(--vf-text-tertiary);
  margin-right: 4px;
}
