.vuefinder__status-bar__wrapper {
  @apply p-1 text-xs border-t flex justify-between select-none grow-0 border-(--vf-border-primary);
}

.vuefinder__status-bar__storage {
  @apply flex leading-5 items-center;
}

.vuefinder__status-bar__storage-container {
  @apply flex leading-5 items-center rounded border bg-(--vf-bg-primary) border-(--vf-border-primary);
}

.vuefinder__status-bar__storage-icon {
  @apply z-[1] pointer-events-none h-4 w-4;
}

.vuefinder__status-bar__storage-select {
  @apply border-0 py-0.5 text-xs rounded uppercase focus:outline-0 cursor-pointer bg-(--vf-bg-primary) text-(--vf-text-secondary);
}

.vuefinder__status-bar__info {
  @apply ml-3;
}

.vuefinder__status-bar__selected-count {
  @apply ml-1;
}

.vuefinder__status-bar__actions {
  @apply flex leading-5 items-center justify-end;
}

.vuefinder__themer .vuefinder__status-bar__about {
  @apply mr-1;
}
