.vuefinder {
}
.vuefinder__main {
  @apply max-w-screen max-h-screen h-full w-full;
}
.vuefinder__main__fixed {
  @apply fixed w-screen inset-0;
}

.vuefinder__main__relative {
  @apply relative md:rounded;
}

.vuefinder .vuefinder__main__container {
  @apply min-h-44 h-full border flex flex-col select-none bg-(--vf-bg-primary) text-(--vf-text-primary) border-(--vf-border-primary);
}

.vuefinder__main__content {
  @apply relative flex overflow-hidden h-full flex-1;
}
 
.vuefinder__external-drop-overlay {
  @apply absolute top-0 left-0 right-0 bottom-0 rounded-xl z-[1000] pointer-events-none flex items-center justify-center bg-(--vf-overlay-bg) border-2 border-dashed border-(--vf-overlay-border);
}

.vuefinder__external-drop-message {
  @apply bg-transparent text-shadow-2xs text-white px-10 py-5 rounded-xl font-semibold text-lg border-3 border-dashed border-white/50  min-h-[60px] flex items-center justify-center;
}
