
@theme {
    /* custom animation variable */
    --animate-pop: pop 160ms cubic-bezier(0.25, 1, 0.5, 1);
    --animate-fade: fade 50ms ease-in-out; 

    @keyframes pop {
        0% {
            transform: scale(0.30);
        }
        60% {
            transform: scale(1.03);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        } 
        100% {
            opacity: 1;
        }
    }
}