@tailwind base;

@tailwind components;

@layer components {
    .vuefinder {
        position: relative;
    }

    .vuefinder * {
        touch-action: manipulation;
    }

    .vuefinder .vf-btn {
        @apply
        inline-flex justify-center
        w-full px-4 py-2 rounded-md border shadow-sm
        text-base font-medium tracking-wide
        focus:outline-none focus:ring-2 focus:ring-offset-2
        mt-0.5 sm:mx-1 sm:w-auto sm:text-sm;
    }

    .vuefinder .vf-btn-primary {
        @apply
        border-transparent
        text-white
        bg-blue-600 hover:bg-blue-700
        focus:ring-indigo-500
        dark:text-gray-50 dark:border-gray-800 dark:bg-gray-700 dark:hover:bg-gray-500;
    }
    .vuefinder .vf-btn-primary.disabled{
        @apply
        hover:bg-blue-600
        dark:hover:bg-gray-700
    }

    .vuefinder .vf-btn-secondary {
        @apply
        border-gray-300
        text-gray-700
        bg-white hover:bg-gray-50
        focus:ring-gray-500
        dark:text-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-500;
    }

    .vuefinder .vf-btn-secondary.disabled{
        @apply
        hover:bg-gray-50
        dark:hover:bg-gray-800
    }

    .vuefinder .vf-btn-danger {
        @apply
        border-transparent
        text-white
        bg-red-600 hover:bg-red-700
        focus:ring-red-200 focus:ring-1 focus:ring-offset-1
        dark:text-gray-50 dark:border-red-800 dark:bg-red-700 dark:hover:bg-red-500;
    }

    .vuefinder .disabled {
        @apply
        opacity-50 cursor-not-allowed
    }



    .vf-explorer-selected {
        @apply bg-neutral-100 border border-neutral-300 dark:bg-slate-700 dark:border-gray-900 dark:border-slate-800 !important;
    }

    .vf-explorer-selector {
        @apply border border-slate-500 bg-slate-300 opacity-50 !important;
    }

    .vuefinder.dark {
        color-scheme: dark;
    }

    /* width */
    .vf-scrollbar::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    .vf-scrollbar::-webkit-scrollbar-track-piece {
        @apply bg-gray-100 dark:bg-slate-900/50;
    }

    /* Handle */
    .vf-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-300 dark:bg-slate-700;
    }

    /* Handle on hover */
    .vf-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-400 dark:bg-slate-600;
    }

    .vf-scrollbar::-webkit-scrollbar-corner {
        @apply bg-transparent;
    }


    /* modal fade effect */
    .vuefinder .fade-enter-active,
    .vuefinder .fade-leave-active {
        transition: opacity 0.2s ease;
    }

    .vuefinder .fade-enter-from,
    .vuefinder .fade-leave-to {
        opacity: 0;
    }

}

@tailwind utilities;

