@tailwind base;

@tailwind components;
@layer utilities {
  .vf-theme-dark,
  .vf-theme-light {
    box-sizing: border-box;
    --os-size: 10px;
    --os-padding-perpendicular: 2px;
    --os-padding-axis: 2px;
    --os-track-border-radius: 10px;
    --os-handle-interactive-area-offset: 4px;
    --os-handle-border-radius: 10px;
  }

  .vf-theme-dark {
    --os-handle-bg: rgba(0, 0, 0, 0.44);
    --os-handle-bg-hover: rgba(0, 0, 0, 0.55);
    --os-handle-bg-active: rgba(0, 0, 0, 0.66);
  }

  .vf-theme-light {
    --os-handle-bg: rgba(255, 255, 255, 0.44);
    --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
    --os-handle-bg-active: rgba(255, 255, 255, 0.66);
  }
}

@layer components {
  .vuefinder {
    position: relative;

    * {
      touch-action: manipulation;
    }

    .vf-btn {
      @apply
      inline-flex justify-center
      w-full px-4 py-2 rounded-md border shadow-sm
      text-base font-medium tracking-wide
      focus:outline-none focus:ring-2 focus:ring-offset-2
      mt-0.5 sm:mx-1 sm:w-auto sm:text-sm;
    }

    .vf-btn-primary {
      @apply
      border-transparent
      text-white
      bg-blue-600 hover:bg-blue-700
      focus:ring-indigo-500
      dark:text-gray-50 dark:border-gray-800 dark:bg-gray-700 dark:hover:bg-gray-500;
    }

    .vf-btn-primary.disabled {
      @apply
      hover:bg-blue-600
      dark:hover:bg-gray-700
    }

    .vf-btn-secondary {
      @apply
      border-gray-300
      text-gray-700
      bg-white hover:bg-gray-50
      focus:ring-gray-500
      dark:text-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-500;
    }

    .vf-btn-secondary.disabled {
      @apply
      hover:bg-gray-50
      dark:hover:bg-gray-800
    }

    .vf-btn-danger {
      @apply
      border-transparent
      text-white
      bg-red-600 hover:bg-red-700
      focus:ring-red-200 focus:ring-1 focus:ring-offset-1
      dark:text-gray-50 dark:border-red-800 dark:bg-red-700 dark:hover:bg-red-500;
    }

    .disabled {
      @apply
      opacity-50 cursor-not-allowed
    }

    .vf-sort-button {
      @apply p-1 leading-6 hover:bg-neutral-100 bg-neutral-50 dark:bg-gray-800 dark:hover:bg-gray-700/10 flex items-center dark:border-gray-700
    }

    .vf-toolbar-icon {
      @apply cursor-pointer stroke-gray-500 hover:stroke-cyan-700 dark:stroke-gray-400 dark:hover:stroke-gray-300;
    }

    .vf-toolbar-icon-disabled {
      @apply cursor-not-allowed stroke-gray-200  dark:stroke-gray-700;
    }

    .vf-explorer-selected {
      @apply bg-neutral-100 border border-neutral-300 dark:bg-slate-700 dark:border-gray-900 dark:border-slate-800 #{!important};
    }

    .vf-item-list {
      @apply grid grid-cols-1 border hover:bg-neutral-50 dark:hover:bg-gray-700 border-transparent my-0.5 w-full select-none;
    }

    .vf-item-grid {
      @apply border border-transparent hover:bg-neutral-50 m-1 dark:hover:bg-gray-700 inline-flex w-[5.5rem] h-20 md:w-24 text-center justify-center select-none
    }

    .vuefinder.dark {
      color-scheme: dark;
    }

    .vf-scrollbar {
      /* width */
      &::-webkit-scrollbar {
        width: 12px;
      }

      /* Track */
      &::-webkit-scrollbar-track-piece {
        @apply bg-gray-100 dark:bg-slate-900/50;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        @apply bg-gray-300 dark:bg-slate-700;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-400 dark:bg-slate-600;
      }

      &::-webkit-scrollbar-corner {
        @apply bg-transparent;
      }
    }

    .vf-explorer-scrollbar {
      &::-webkit-scrollbar {
        width: 12px;
      }
      &::-webkit-scrollbar-track-piece,
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-thumb:hover,
      &::-webkit-scrollbar-corner {
        @apply bg-transparent;
      }
    }

    /* modal fade effect */
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.2s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
    }

  }

  /*
    DragSelect selector appends to body
   */
  .vf-explorer-selector {
    @apply border border-slate-500 bg-slate-300 opacity-50 #{!important};
  }

  .vf-explorer-scrollbar-container {
    top: 33px;
    height: calc(100% - 33px);
    @apply z-[10] absolute right-0 pointer-events-none;

    &.grid-view:not(.search-active) {
      top: 0;
      height: calc(100%);
    }
  }

  @media (max-width: 640px) {
    .vf-explorer-scrollbar-container {
      top: 33px;
      height: calc(100% - 33px);

     &.grid-view:not(.search-active){
        top: 0;
        height: calc(100%);
      }
    }
  }
}

@tailwind utilities;


@import "overlayscrollbars/styles/overlayscrollbars.css";
