
@reference "tailwindcss";

.vuefinder__modal-header {
  @apply flex items-center my-1 gap-2;
}

.vuefinder__modal-header__icon-container {
  @apply shrink-0 flex items-center justify-center h-12 w-12 rounded-full sm:mx-0 sm:h-10 sm:w-10 bg-(--vf-bg-tertiary);
}

.vuefinder__themer .vuefinder__modal-header__icon {
  @apply p-0.5 h-8 w-8 stroke-(--vf-accent-primary) text-(--vf-bg-tertiary);
}

.vuefinder__modal-header__title {
  @apply text-lg font-medium text-(--vf-text-primary);
}
