
.vuefinder__unarchive-modal__content {
  @apply mt-3 text-center sm:mt-0 sm:text-left w-full;
}

.vuefinder__unarchive-modal__items {
  @apply mt-2;
}

.vuefinder__unarchive-modal__item {
  @apply flex text-sm;
  color: var(--vf-text-primary);
}

.vuefinder__unarchive-modal__icon {
  @apply h-5 w-5;
  color: var(--vf-text-tertiary);
}

.vuefinder .vuefinder__unarchive-modal__icon--dir {
  @apply fill-current stroke-current;
  color: var(--vf-text-tertiary);
}

.vuefinder .vuefinder__unarchive-modal__icon--file {
  @apply h-5 w-5;
  color: var(--vf-text-tertiary);
}

.vuefinder__unarchive-modal__item-name {
  @apply ml-1.5;
  color: var(--vf-text-primary);
}

.vuefinder__unarchive-modal__item-name:hover {
  color: var(--vf-text-secondary);
}

.vuefinder__unarchive-modal__info {
  @apply my-1 text-sm;
  color: var(--vf-text-secondary);
}
