.vuefinder__message-modal__content {
  @apply sm:flex sm:items-start;
}

.vuefinder__message-modal__icon-container {
  @apply mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-(--vf-bg-tertiary) sm:mx-0 sm:h-10 sm:w-10;
}

.vuefinder__message-modal__icon {
  @apply h-6 w-6 stroke-(--vf-accent-primary);
}

.vuefinder__message-modal__text {
  @apply mt-3 w-full text-center sm:mt-0 sm:text-left;
}

.vuefinder__message-modal__title {
  @apply text-lg leading-6 font-medium text-(--vf-text-primary);
}

.vuefinder__message-modal__message {
  @apply mt-2;
}

.vuefinder__message-modal__description {
  @apply text-sm text-(--vf-text-secondary);
}
