@reference "tailwindcss";

.vuefinder__about-modal__content {
  @apply sm:items-start select-none;
}

.vuefinder__about-modal__main {
  @apply mt-3 sm:mt-0 sm:text-left w-full;
}

.vuefinder__about-modal__tabs {
  @apply flex overflow-auto;
}

.vuefinder .vuefinder__about-modal__tab {
  @apply px-3 py-2 font-medium text-sm;
}

.vuefinder .vuefinder__about-modal__tab--active {
  @apply border-b-2 bg-(--vf-bg-hover) text-(--vf-text-primary) border-(--vf-accent-primary);
}

.vuefinder .vuefinder__about-modal__tab--inactive {
  @apply border-b-2 text-(--vf-text-secondary) border-(--vf-border-primary);
}

.vuefinder .vuefinder__about-modal__tab--inactive:hover {
  @apply text-(--vf-text-primary);
}

.vuefinder__about-modal__tab-content {
  @apply mt-4;
}

.vuefinder__about-modal__description {
  @apply m-1 text-sm text-(--vf-text-secondary);
}

.vuefinder__about-modal__link {
  @apply block mt-2 text-sm text-(--vf-accent-primary);
}

.vuefinder__about-modal__settings {
  @apply mt-3 text-left;
}

.vuefinder__about-modal__setting {
  @apply block relative gap-x-3 items-center;
}

.vuefinder__about-modal__setting--flex {
  @apply flex;
}

.vuefinder__about-modal__setting-input {
  @apply h-6 flex items-center;
}

.vuefinder__about-modal__setting-label {
  @apply flex flex-1 text-sm;
}

.vuefinder .vuefinder__about-modal__label {
  @apply flex w-full text-sm text-(--vf-text-primary);
}

.vuefinder .vuefinder__about-modal__checkbox {
  @apply h-4 w-4 rounded focus:ring-2 border-(--vf-border-primary) text-(--vf-accent-primary) accent-(--vf-accent-primary);
}

.vuefinder .vuefinder__about-modal__select {
  @apply shrink-0 sm:w-1/2 w-full text-sm rounded border text-(--vf-text-primary) bg-(--vf-bg-primary) border-(--vf-border-primary);
}

.vuefinder__about-modal__shortcuts {
  @apply space-y-2 sm:w-1/2;
}

.vuefinder__about-modal__shortcut {
  @apply flex justify-between text-sm text-(--vf-text-secondary);
}
