.vuefinder__rename-modal__content {
  @apply mt-3 text-center sm:mt-0 sm:text-left w-full;
}

.vuefinder__rename-modal__item {
  @apply mt-2;
}

.vuefinder__rename-modal__item-info {
  @apply flex text-sm py-2 text-(--vf-text-secondary);
}

.vuefinder__rename-modal__icon {
  @apply h-5 w-5 text-(--vf-text-tertiary);
}

.vuefinder__rename-modal__icon--dir {
  @apply fill-current stroke-current text-(--vf-text-tertiary);
}

.vuefinder__rename-modal__item-name {
  @apply ml-1.5 text-(--vf-text-primary);
}

.vuefinder__rename-modal__item-name:hover {
  @apply text-(--vf-text-secondary);
}

.vuefinder__themer .vuefinder__rename-modal__input {
  @apply px-2 py-1 border rounded w-full bg-(--vf-bg-primary) border-(--vf-border-primary) text-(--vf-text-primary);
}

.vuefinder__themer .vuefinder__rename-modal__input:focus {
  @apply border-(--vf-border-focus) ring-(--vf-border-focus);
}
