
.vuefinder__new-file-modal__content {
  @apply mt-3 text-center sm:mt-0 sm:text-left w-full;
}

.vuefinder__new-file-modal__form {
  @apply mt-2;
}

.vuefinder__new-file-modal__description {
  @apply text-sm text-(--vf-text-secondary);
}

.vuefinder__new-file-modal__input {
  @apply px-2 py-1 border rounded w-full bg-(--vf-bg-primary) border-(--vf-border-primary) text-(--vf-text-primary);
}

.vuefinder__new-file-modal__input:focus {
  @apply border-(--vf-border-focus) ring-(--vf-border-focus);
}
