.vuefinder__delete-modal__content {
  @apply mt-3 w-full text-center sm:mt-0 sm:text-left;
}

.vuefinder__delete-modal__form {
  @apply mt-2;
}

.vuefinder__delete-modal__description {
  @apply text-sm text-(--vf-text-secondary);
}

.vuefinder__delete-modal__files {
  @apply mb-1 max-h-[200px] overflow-auto text-sm text-(--vf-text-secondary);
}

.vuefinder__delete-modal__file {
  @apply flex text-sm text-(--vf-text-primary);
}

.vuefinder__delete-modal__icon {
  @apply h-5 w-5 text-(--vf-text-tertiary);
}

.vuefinder__delete-modal__icon--dir {
  @apply fill-current stroke-current text-(--vf-text-tertiary);
}

.vuefinder__delete-modal__file-name {
  @apply ml-1.5 text-(--vf-text-primary);
}

.vuefinder__delete-modal__file-name:hover {
  @apply text-(--vf-text-secondary);
}

.vuefinder__delete-modal__warning {
  @apply m-auto text-center text-sm font-bold text-(--vf-accent-danger);
}
