
.vuefinder__delete-modal__content {
  @apply mt-3 text-center sm:mt-0 sm:text-left w-full;
}

.vuefinder__delete-modal__form {
  @apply mt-2;
}

.vuefinder__delete-modal__description {
  @apply text-sm;
  color: var(--vf-text-secondary);
}

.vuefinder__delete-modal__files {
  @apply text-sm mb-1 overflow-auto max-h-[200px];
  color: var(--vf-text-secondary);
}

.vuefinder__delete-modal__file {
  @apply flex text-sm;
  color: var(--vf-text-primary);
}

.vuefinder__delete-modal__icon {
  @apply h-5 w-5;
  color: var(--vf-text-tertiary);
}

.vuefinder .vuefinder__delete-modal__icon--dir {
  @apply fill-current stroke-current;
  color: var(--vf-text-tertiary);
}

.vuefinder__delete-modal__file-name {
  @apply ml-1.5;
  color: var(--vf-text-primary);
}

.vuefinder__delete-modal__file-name:hover {
  color: var(--vf-text-secondary);
}

.vuefinder__delete-modal__warning {
  @apply m-auto font-bold text-sm text-center;
  color: var(--vf-accent-danger);
}
