
 .vuefinder__message-modal__content {
   @apply sm:flex sm:items-start;
 }

 .vuefinder__message-modal__icon-container {
   @apply mx-auto shrink-0 flex items-center justify-center h-12 w-12 rounded-full sm:mx-0 sm:h-10 sm:w-10;
   background-color: var(--vf-bg-tertiary);
 }

 .vuefinder .vuefinder__message-modal__icon {
   @apply h-6 w-6;
   stroke: var(--vf-accent-primary);
 }

 .vuefinder__message-modal__text {
   @apply mt-3 text-center sm:mt-0 sm:text-left w-full;
 }

 .vuefinder__message-modal__title {
   @apply text-lg leading-6 font-medium;
   color: var(--vf-text-primary);
 }

 .vuefinder__message-modal__message {
   @apply mt-2;
 }

 .vuefinder__message-modal__description {
   @apply text-sm;
   color: var(--vf-text-secondary);
 }
